<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
  <div class="form-group">
    <%= f.label :recipients %>
    <%= f.select(:recipients, current_user.contacts.map {|p| [ p.first_name+" "+p.last_name, p.id ] }, {}, { multiple: true , class: "js-example-basic-multiple form-control",id: "recipients",  :required => true })%>
  </div>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, placeholder: "Subject", class: "form-control",id:"subject",:required => true %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", id:"message",rows: 4,:required => true  %>
  </div>

  <%= f.submit "Send Message", class: "btn btn-success" %>

<% end %>
<%= render partial: 'invite_form' %>

<script type="text/javascript">
$(".js-example-basic-multiple").select2({tags: true}).select2('val', [<%= (params[:recp])? params[:recp]:"" %>]);
$(".js-example-basic-multiple").on('select2:select', function (e) { 
    var selected_element = $(e.currentTarget);
    var select_val = selected_element.val().pop();
    if(isNaN(parseInt(select_val))){
        $('#invite_form').modal("show");
        $(".js-example-basic-multiple").select2('val',selected_element.val())
    }
    console.log(parseInt(select_val))
    
 });
</script>