<!-- <p id="notice"><%= notice %></p> -->
<!-- <%= stylesheet_link_tag "assets"%> -->
<!-- <h1>Assets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.user_id %></td>
        <td><%= link_to 'Show', asset %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_asset_path %>
 -->
<!-- <h1>Assets</h1> 
<table> 
  <tr> 
    <th>Uploaded Files</th> 
  </tr> 
  <% for asset in @assets %> 
    <tr> 
      <td><%= link_to asset.file_name, download_url(asset) %></td> 
      <td><%= link_to "Show", asset %></td> 
      <td><%= link_to "Edit", edit_asset_path(asset) %></td> 
      <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    </tr> 
  <% end %> 
</table> 
<p><%= link_to "New Asset", new_asset_path %></p> -->
</br>

<div id="menu"> 
<!-- 
<ul id= "top_menu">     
      <% if @current_folder %> 
       <li><%= link_to "Upload", new_sub_file_path(@current_folder) %></li> 
       <li><%= link_to "New Folder", new_sub_folder_path(@current_folder) %></li> 
   <% else %> 
       <li><%= link_to "Upload", new_asset_path %></li> 
       <li><%= link_to "New Folder", new_folder_path %></li> 
   <% end %> 
</ul -->


<% unless @is_this_folder_being_shared %> 
    <ul id= "top_menu">    
        <% if @current_folder %> 
            <li><%= link_to "Upload", new_sub_file_path(@current_folder) %></li> 
            <li><%= link_to "New Folder", new_sub_folder_path(@current_folder) %></li> 
        <% else %> 
            <li><%= link_to "Upload", new_asset_path %></li> 
            <li><%= link_to "New Folder", new_folder_path %></li> 
        <% end %> 
    </ul> 
<% else %> 
    <h3>This folder is being shared to you by a user</h3> 
<% end %>






<!-- </ul> -->

    <!-- </div> -->

    <div class="row">
      <div class="col-md-9 col-xs-12">
    <%= render :partial => "breadcrumbs" %>
    </div>
      <% if @current_folder %> 
      <div class="col-md-1 col-xs-12">
       <%= link_to "Upload", new_sub_file_path(@current_folder), class: "btn btn-primary " %>
       <br>
       </div>
       <div class="col-md-1 col-xs-12">
       <%= link_to "New Folder", new_sub_folder_path(@current_folder), class: "btn btn-primary " %> 
       </div>
   <% else %> 
       <div class="col-md-1 col-xs-3">
       <%= link_to "Upload", new_asset_path, class: "btn btn-primary " %>
       <br>
     </div>
     <div class="col-md-1 col-xs-9">
       <%= link_to "New Folder", new_folder_path, class: "btn btn-primary " %> 
     </div>
   <% end %> 
    </br>
    <br>
  </div>
  <br>
 
<div class="table-responsive">
  <table class="table">  
    <tr>
      <th>Name</th> 
      
      <th>Size</th>
      
      <th>Modified</th> 
      <th></th>
      <th></th> 
      <th></th> 
    </tr>
 

<div class="asset_list"> 
 
<!-- Listing Shared Folders (the folders shared by others) -->
<% @being_shared_folders.each do |folder| %> 
    <div class="asset_details <%= folder.shared? ? 'shared_folder' : 'folder' %>" id="folder_<%= folder.id %>"> 
        <div class="file_name"><%= link_to folder.name, browse_path(folder) %></div> 
        <div class="file_size">-</div> 
        <div class="file_last_updated">-</div> 
        <div class="actions"> 
        </div> 
    </div> 
<% end %> 


    <!-- Listing Folders -->
<% @folders.each do |folder| %> 
     
     <div class="asset_details <%= folder.shared? ? 'shared_folder' : 'folder' %>" id="folder_<%= folder.id %>">
 
        <div class="file_name"><%= link_to folder.name, browse_path(folder) %></div> 
        <div class="file_size">-</div> 
        <div class="file_last_updated">-</div> 
  <div class="actions"> 
    <div class="share"> 
        <%= link_to "Share", "#", :folder_id => folder.id, :folder_name => folder.name unless @is_this_folder_being_shared%> 
    </div> 
    <div class="rename"> 
        <%= link_to "Rename", rename_folder_path(folder) unless @is_this_folder_being_shared%> 
    </div> 
    <div class="delete">

                <%= link_to "Delete", folder, method: :delete  unless @is_this_folder_being_shared%> 
   
    </div> 
    </div> 
    </div> 
<% end %>



  
   <!-- Listing Files -->
    <% @assets.each do |asset| %> 
    <tr>
      <td> <i class="fa fa-file" aria-hidden="true" style="color: #6fadf3;"></i> <%= link_to asset.file_name, download_url(asset), style: "color: black;" %></td> 
  
      <td><%= number_to_human_size(asset.file_size, :precision => 2) %></td> 
  
      <td><%= asset.uploaded_file_updated_at %></td> 
               
      <td><%= link_to "Download", download_url(asset) %></td>
               

               <%= link_to "Delete", asset, method: :delete unless @is_this_folder_being_shared %>
 
           </div> 
       </div> 
   </div> 
<% end %>

</div>

<div id="invitation_form" title="Invite others to share" style="display:none"> 
    <!-- asdasdas -->

    <%= form_tag '/assets/share' do  %>  
    <% if current_user.role=='patient'%>
      <%= select("", current_user.contacts.map {|p| [ p.first_name+" "+p.last_name, p.id ] }, {}, { multiple: true , class: "js-example-basic-multiple form-control",id: "recipients",  :required => true })%>
    <%else%>
      <%= select( "", User.all.collect {|p| [ p.first_name+" "+p.last_name, p.id ] }, {}, { multiple: true , class: "js-example-basic-multiple form-control",id: "recipients",  :required => true })%>
    <%end%>
    <br>
     <label for="email_addresses">Enter recipient email addresses here</label><br />
      <%= text_field_tag 'email_addresses', "", :class => 'text ui-widget-content ui-corner-all'%> 
            <br /><br /> 
            <label for="message">Optional message</label><br /> 
            <%= text_area_tag 'message',"",  :class => 'text ui-widget-content ui-corner-all'%> 
            <%= hidden_field_tag "folder_id" %>
    <% end %>                
</div>

<script>
$( document ).ready(function () {  
    //open the invitation form when a share button is clicked 
    $( ".share a" ) 
            .button() 
            .click(function() { 
                //assign this specific Share link element into a variable called "a" 
                var a = this; 
                  
                //First, set the title of the Dialog box to display the folder name 
                $("#invitation_form").attr("title", "Share '" + $(a).attr("folder_name") + "' with others" ); 
                  
                //a hack to display the different folder names correctly 
                $("#ui-dialog-title-invitation_form").text("Share '" + $(a).attr("folder_name") + "' with others");  
                  
                //then put the folder_id of the Share link into the hidden field "folder_id" of the invite form 
                $("#folder_id").val($(a).attr("folder_id")); 
                  
                //Add the dialog box loading here
                //the dialog box customization 
$( "#invitation_form" ).dialog({ 
    height: 300, 
    width: 600, 
    modal: true, 
    buttons: { 
        //First button 
        "Share": function() { 
            //get the url to post the form data to 
            var post_url = $("#invitation_form form").attr("action"); 
              
            //serialize the form data and post it the url with ajax 
            $.post(post_url,$("#invitation_form form").serialize(), null, "script"); 
              
            return false; 
        }, 
        //Second button 
        Cancel: function() { 
            $( this ).dialog( "close" ); 
        } 
    }, 
    close: function() { 
  
    } 
}); 
                  
                return false; 
            }); 
});

  

</script>
  




