<br>
<br>
<table class="dtable display responsive nowrap" cellspacing="0" width="100%">
<!-- 	<col width="30%">
	<col width="20%">
	<col width="20%">
	<col width="10%">
	<col width="10%">
	<col width="10%">	 -->
<thead>	
	<!-- Header -->
	<tr class = "header">
		<th> Appointment with </th>
		<th> Date Time </th>
		<th> Cost </th>
		<th> Payment </th>
	</tr>
</thead>
	<!-- Body -->
	<tbody>
		<% @appointments.each do |appointment| %>
		<tr>
			<!-- Name -->
			<td><%= "#{appointment[:first_name]} #{appointment[:last_name]}" %></td>
			<td><%= "#{appointment[:datetime]}" %></td>
			<td align="right"><%= "#{appointment[:price]} #{appointment[:currency]}" %></td>

			<% if !appointment[:paid]%>
				<!-- Buttons -->
				<td class = "actions">
					<%= link_to 'Pay now', make_payment_path(appointment),:method => "post", remote: true, :class => 'btn btn-sm btn-primary' %>
					
				</td>
			<% else %>
				<td>paid</td>	
			<% end %>	
		</tr>
		<%end%>
	</tbody>	
</table>
<%= render 'dialog' %>

